<mat-toolbar color="custom-toolbar" class="header">
    <!-- Logo a la izquierda -->
    <div class="logo">
      <img src="/assets/images/svgs/Logo.svg" alt="Logo" class="logo-img">
    </div>
  
    <span class="spacer"></span>
  
    <!-- Redes sociales a la derecha -->
    <div class="social-icons">
      <button mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>twitter</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>instagram</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>linkedin</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  