<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">

    <div class="col-sm-12 position-relative overflow-hidden bg-orange d-none d-lg-block">
      <div>
        <img src="/assets/images/svgs/Figure1.svg" class="circle-top" alt="Logo-Dark" />
      </div>
      <div>
        <img src="/assets/images/svgs/Figure2.svg" class="circle-bottom" alt="Logo-Dark" />
      </div>
      <div>
        <img src="/assets/images/svgs/Logo.svg" class="circle-top-right" alt="Logo-Dark" />
      </div>
      <div class="d-flex align-items-center justify-content-center position-relative h-n80">
        <div class="d-flex justify-content-center w-100">
          <div class="d-flex justify-content-center align-items-center flex-col">
            <h2 class="text-primary f-w-800 f-s-70 m-b-16">
              Welcome to
              PoC
            </h2>
            <span class="op-75  f-s-26 w-80 text-center text-primary d-block m-b-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id eleifend lacus.
            </span>
            <div class="d-flex justify-content-center col-sm-4">
              <button mat-flat-button  color="primary" (click)="openOAuthDialog()">Start</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="/assets/images/welcome/Welcome.png" class="image-bottom" alt="Logo-Dark" />
      </div>
    </div>
  </div>
</div>
