<mat-card class="cardWithShadow theme-card" style="width: 100%;">
  <mat-card-content style="width: 100%;">
      <apx-chart
        [series]="barChartOptions.series"
        [chart]="barChartOptions.chart"
        [xaxis]="barChartOptions.xaxis"
        [yaxis]="barChartOptions.yaxis"
        [grid]="barChartOptions.grid"
        [stroke]="barChartOptions.stroke"
        [tooltip]="barChartOptions.tooltip"
        [dataLabels]="barChartOptions.dataLabels"
        [legend]="barChartOptions.legend"
        [colors]="barChartOptions.colors"
        [plotOptions]="barChartOptions.plotOptions"
      >
      </apx-chart>
  </mat-card-content>
</mat-card>